# Backend API URL
# Local: https://compliance.colautos.co/api
# Production: https://compliance.colautos.co/api
VITE_API_URL=https://compliance.colautos.co/api

# Adobe Sign Region
# Options: na1, na2, na3, eu1, etc.
VITE_ADOBE_REGION=na4
ADOBE_CLIENT_ID=ats-85f12358-4fcc-468e-b1b2-383515641c99
ADOBE_CLIENT_SECRET=XocKEvl1vmGf_qCywOljz_rzwsA0uwMJ